.tweet {
    background-color: blanchedalmond;
    border: 5px solid black;
    margin: 30px;
}

body {
    background-color: cadetblue;
}

.tweetContainer {
    width: 50%;
    float: left;
}

.selectContainer {
    margin-left: 50%;
      
}


.selectTweet {
    background-color: blanchedalmond;
    border: 5px solid black;
    margin: 30px;
}